/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0px;
    
    backdrop-filter: blur(3px);
    background-image: url(../res/13649.jpg);
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-attachment: fixed;
}

/* header{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  color: aliceblue;
  margin-bottom: 5vh !important;
} */

.headersec{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #e5e5e5;
  background-color: #ffffff;
}

.sitelogo{
  flex-basis: 20%;
  padding-left: 5vw;
  padding: 1vh 4vw;
}

.sitelogo img{
 
  width: 6vw;
  height: 5vh;
  border-radius:20px;
  background-color: #000000;
 
  
}

.navbar{
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 1vw;
}


.navbar li a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
}

.navbar li a:hover {
  color: rgb(0, 123, 255);
}

.navbar li a::after{
  content: '';
  width: 0;
  height: 0.5vh;
  background: linear-gradient(#000000, rgb(79, 79, 79), rgb(255, 252, 252));
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.navbar li a:hover::after{
  width: 100%;
} 

.header-btn{
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5vw;
 

}

.header-btn img{
  width: 2vw;
  height: 4vh;
  transition:background 0.5s, transform 0.5s;
  justify-content: end;
  background-color: #686868;
  border-radius: 50%;
}

.header-btn img:hover{
  transform: translateY(-6px);
}

.remove-padding{
  padding-right: 0px;
  padding-left: 0px;
}

.container-body {
  max-width: 600px;
  background: wheat;
  padding: 20px;
  min-height: 100vh; 
  /* 
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out; */
}

.quote {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.quote .box{
  padding: 20px;
  margin: 10px;
  width: 30px;
  height: 300px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: moveLeft 2s forwards;
  animation-delay: 1s;
}

.quote .text{
  position: absolute;
  white-space: nowrap;
  animation: slideOut 3s forwards;
  animation-delay: 1s;
  z-index: 0;
}

@keyframes moveLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50px); }
}

@keyframes slideOut {
  0% { transform: translateX(0); opacity: 0; }
  100% { transform: translateX(220px); opacity: 1; }
}

.anim8{
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 0.3s backwards;
}

@keyframes image-in {
  from {
    transform: translateX(100%);
    clip-path: polygon(100% 0%,
                   100% 0%,
                   100% 100%,
                    100% 100%);
  }
  to {
    transform: translateX(0%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.hidden {
  transform: translateX(100%);
  visibility: hidden;
  display: none;
}

.visible {
  transform: translateX(0%);
  visibility: visible;
  display: block;
}

.container-body header {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
  text-align: left;
}

/* .container-body img {
  width: ;
} */

.container-body .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}

.form button:hover {
  background: rgb(88, 56, 250);
  transform: scale(1.05);
}

.text-center{
    display: grid; 
    align-items: center; 
    text-align: center;
}

/*Responsive*/
/* @media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
} */