@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins';

}

html{
    overflow-x: hidden;
}
body{
   background-color: black;
   font-family: Arial, sans-serif;
   margin: 0;
  
}

.h-btn3, .h-btn4, .menu ,.close{
    display: none;
}

.background{
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 80vh;
    color: aliceblue;
    margin-bottom: 5vh !important;
    background-image: url(../res/bg4.jpg);
    backdrop-filter: blur(10px);
   
    

}


.headersec{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #e5e5e5;
    background-color: #ffffff;
    z-index: 2;
   
}

.sitelogo{
    flex-basis: 20%;
    padding-left: 5vw;
    padding: 1vh 4vw;
}

.sitelogo img{
   
    width: auto;
    height:7vh;
   
   
    
}


.navbar{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 3;
    

}

.navbar li {
    margin: 0 1vw;

}


.navbar li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    font-family: 'Poppins';
    
   
  
}

.navbar li a:hover {
    color: rgb(0, 123, 255);
}

.navbar li a::after{
    content: '';
    width: 0;
    height: 0.5vh;
    background: linear-gradient(#000000, rgb(79, 79, 79), rgb(255, 252, 252));
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

.navbar li a:hover::after{
    width: 100%;
}



.header-btn{
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none; 
    font-family: Arial, sans-serif; 
  
}

.h-btn1{
    background-color: #0078d7;
    color: white;
    border-radius: 20px; 
    border: 1px solid #0078d7; 
    margin: 10px;
}

.h-btn1:hover{
    background-color: #005a9e;
}

.h-btn2{
    background-color: white; 
    color: #0078d7;
    border: 1px solid #0078d7; 
    border-radius: 20px;
}

.h-btn2:hover{
    background-color: #e5f1fb;
}

.username-signout-1{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    
    
}

.username{
    flex-basis: 30%;
}

.h-btn2{
    flex-basis: 30%;
}

.topic{
    z-index: 2;
    flex-basis: 100%;
    padding-top: 25vh;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    position: relative;
    text-align: center;
    color: white;
}
.topic h1{
   
   padding-top: 5vh;
    color: #19044c;
    -webkit-text-stroke: 0.9px rgb(0, 238, 255);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 70px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
   
   
}

.topic p{
   
   
    align-items: center;
    color: #000000;
    text-align: center;
    -webkit-text-stroke: 0.7px rgba(0, 253, 253, 0.7);
    font-family: 'Poppins';
    width: max-content;
    font-size: 24px;
    -webkit-background-clip: text;
    
   
    
}

.btn{
    z-index: 2;
    margin-top: 20vh;
    border: 2px solid #000000;
    background-color: #feffff;
    color: rgb(3, 3, 3);
    border-radius: 20px; 
   
}
    
 


/*-------------------------- services----------------------------- */

.services h1{
    color: azure;
    text-align: center;
    margin: 5vh 5vw;
    font-style: oblique ;
    font-size: 35px;
    justify-content: center;
    font-family: 'Poppins';

}

.serv-sec{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    color: #f4f4f4;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.serv-sec div{
    flex-basis: 30%;
    
}

.serv-sec div p{
    color: rgb(175, 176, 176);
    font-family: 'Poppins';
}





.other-ser-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    grid-gap: 5vw;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.other-ser-grid  img{
    width: 100%;
    height: 30vh;
   border-radius: 10px;
   display: block;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #64929B);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 300;
    color: #000000;
    background-color: #e8efed;
    border-radius: 10px;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins';
    

}

.o-col1, .o-col2, .o-col3{
    border-radius: 10px;
    position: relative;
    overflow: hidden;


}

.o-col1:hover .layer, .o-col2:hover .layer, .o-col3:hover .layer {
    height: 100%;
}


.desc{
    padding: 15px;
    text-align: center;
    color: aliceblue;
}


/* ---------------------------------about---------------------------------------------- */


.about{
   
    justify-content: space-around;
    display: flex;
    padding-bottom: 10vh;
    background-image: linear-gradient(rgb(0,0,0), #4872cd,rgb(79, 79, 79),rgb(0, 0, 0));
    
}

.about p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Poppins';
   
}

.rounded-lg-3{
    margin-bottom: 5vh; 
}


/* --------------------------reviews -------------------------------------------*/


.reveiws{

    background-image: linear-gradient(#000000,rgb(79, 79, 79),#2371b5);
    padding-bottom: 5vh;
    padding-top: 10vh;

}

.rew-topic{
    background: -webkit-linear-gradient(rgb(78, 148, 174), rgb(242, 245, 246));
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-style: oblique;
     text-align: center;
     padding-bottom: 5vh;
     font-size: 35px;
     font-family: 'Poppins';
}
.rew-list{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    text-align: center;
    
}

.rew-list div{
   padding-top: 8vh;
    background-color: #ffffff ;
    border-radius: 15px;
    transition:background 0.5s, transform 0.5s;

}
.rew1, .rew2, .rew3{
    flex-basis: 30%;
    padding-bottom: 5vh;
  
}

.rew1 h3, .rew2 h3, .rew3 h3{
  padding-bottom: 3vh;
  
}

.rew1 p, .rew2 p, .rew3 p{
   color: #3c3939;
    
  }


.rew-list div:hover{
    background-color:#8fa6aa;
    transform: translateY(-12px);
    
}

.contact{
    padding-bottom: 5vh;
    padding-top: 10vh;
    background: -webkit-linear-gradient(#257dc4 , rgb(242, 245, 246));
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-family: 'Poppins';


}
.about{
    display: flex;
    flex-basis: 100%;
    ;

}

.abt-col1{
    flex-basis: 60%;
    
}

.abt-col1 h1{
    padding-top: 15vh;
    color: #000000;
    padding-left: 2vw;
    padding-bottom: 3vh;
    font-weight: 600;
}

.abt-col1 p{
    padding-left: 3vh;
    padding-right: 3vh;
   margin-bottom: 3vh;
}

.side1{
   
    margin-top: 5vh;
    margin-left: 5vw;
}

.locate-button{
    background-color: #257dc4;
    height: 5vh;
    border: 1px solid #fcfeff; 
}


.abt-col2{
    flex-basis: 40%;
    margin: 20px;
}

.abt-col2 img{
    width: 30vw;
}




.contact h1{
    text-align: center;
     padding-bottom: 5vh;
     font-size: 35px;
     font-family: 'Poppins';

}

.contact p{
    text-align: center;
    font-style: oblique;

}

.nav{
    padding-right: 5vw;
}


#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 162, 166, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

#loading-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.account-btns{
    display: none;
}

/* --------------------------------------------------------------- */


@media  (max-width: 820px){
    .account-btns{
        display: flex;
    }
    
    .close, .menu{
        display: none;
    }
    
    .header-btn{
        display: none;
    }
    
        header{
            background-image: url(../res/bg3.jpg);
            text-align: center;
            height: 80vh;
            
        
        }
    
        .close, .menu, .h-btn3, .h-btn4{
            display:block;
        }
    
        .topic h1{
            font-size: 70px;
            text-align: center;
           
        }
    
        .navbar{
            background: #5bbbd8;
            position: fixed;
            top: 0;
            right:-150px;
            width: 150px;
            height: 80vh;
            padding-top: 50px;
            z-index: 3;
            transition: right 0.5s;
        }
    
        .navbar li{
            display: block;
           margin: 25px;
           
           
        }
    
        .close{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }
    
        .menu{
            padding-right: 20px;
        }
    
        .btn{
            margin-top: 70px;
        }
    
        .other-ser-grid{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(8vw, 1fr));
                grid-gap: 5vw;
                margin-top: 5vh;
                margin-left: 10vw;
                margin-right: 10vw;
                justify-content: space-around;
                margin-bottom: 5vh;
        }
            
        .other-ser-grid  img{
                
            height: 20vh;
              
            display: block;
               
               
            
        }    
    
        .o-col1:hover .layer, .o-col2:hover .layer, .o-col3:hover .layer {
            height: 100% !important;
        }
    
    
        .abt-col1 h1{
            font-size: 40px;
        }
    
        .abt-col1 p{
            font-size: 15px;
        }
    
        .abt-col2 img{
            margin-top: 20vh;
            height: 50vh;
            
        }
    
        .rew-topic h2{
            font-size: 50px;
        }
    
        .contact h1{
            font-size: 50px;
        }
    
    
        
    .nav{
       margin-left: 1vw;
        display: flex;
        align-items: center;
    }
    
    .nav li{
        display: flex !important;
    }
    
    .ms-3 {
        margin-left: 0rem !important;
    }
    
    
    
    }

/* ------------------------------------------------------------------------- */


@media screen and (max-width: 600px){

.services h1{
    padding-top: 39vh;
}
.rew-topic h2{
   font-size: 40px;
}

.rew-list{
    display: block;

   

}

.rew-list div{
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.contact h1{
    font-size: 50px;
}


}


/* ------------------------------------------------------------------------- */

@media screen and (max-width: 400px){

.close, .menu{
    display: none;
}

.header-btn{
    display: none;
}

    header{
        background-image: url(../res/bg3.jpg);
        text-align: center;
        height: 80vh;
        
    
    }

    .close, .menu, .h-btn3, .h-btn4{
        display:block;
    }

    .topic h1{
        font-size: 40px !important;
        text-align: center;
       
    }

    .navbar{
        background: #5bbbd8;
        position: fixed;
        top: 0;
        right:-150px;
        width: 150px;
        height: 90vh;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.5s;
    }

    .navbar li{
        display: block;
       margin: 25px;
       
       
    }

    .username-signout-1{
        display: block;
    }

    .close{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .menu{
        padding-right: 20px;
    }

    .btn{
        margin-top: 50px !important;
    }

    .services h1{
        padding-top: 10vh !important;
    }
    .serv-sec{
        display: block !important;
    }

    .ser-col1,.ser-col2,.ser-col3{
        margin-bottom: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .others-services{
        display: block;
        flex-basis: 100%;
    }

.other-ser-grid{
    display: block !important;
    flex-basis: 100%;
    margin-top: 5vh;
    justify-content: space-around;
    margin-bottom: 5vh;
    width: 80%;
}

.other-ser-grid img{
   
    height: 35vh;
}



 .o-col1, .o-col2, .o-col3{
    width:90% !important;
    justify-content: space-around;
    height: 40vh;
    margin-left: 13vw;
    margin-bottom: 10vh;
    position: relative;
    right: 35px;

 }
 .desc{
    text-align: center;
    padding-bottom: 5vh;
    justify-content: center;
 }

    .layer{
        width: 100%;
        height: 0;
        overflow: hidden;
      text-align: center;
        transition: height 0.5s;
    }

    .row{
        display: block;
    }

    .col-lg-7{
        display: block;
    }

    .display-4{
        color: #e5e5e5;
    }

    .about{
        display: block;
    }

    .abt-col1 h1{
        font-size: 40px;
    }

    .abt-col1 p{
        font-size: 16px;
    }

    .locate-button{
        margin-bottom: 5vh;
    }

    .abt-col2 img{
        padding: 30px;
        justify-content: center;
        align-items: center;
        width: 330px;
    }

    /*-------------------- reviews ---------------------------*/

    .rew-topic h2{
        font-size: 35px;
    }

    .rew-list{
        display: block;
    }

    .rew-list div{
        margin-bottom: 5vh;
        width: 80%;
        margin-left: 10vw;
        transition:background 0.5s, transform 0.5s;
       
    }

    .rew-list div:hover{
        background-color:#8fa6aa;
        transform: translateY(-10px);
    }
}

.header-btn h3{
    color: black;
}


.nav{
    margin-left: 75px;

}

/* --------------------------------------------------------------------------- */



